<ng-container *ngIf="!notebook.config; else configurationNotebook">
	<div class="options">
		<div class="row">
			<div class="col">
				Notebook:
			</div>
			<div class="col">
				<input type="text" [(ngModel)]="notebook.name" />
			</div>
		</div>
	</div>

	<hr class="options-divider" />

	<ng-container *ngFor="let s of notebook.segments; let i = index">
		<ng-container *ngIf="s.type === 'processor'">
			<code-engine [segment]="s" [availableContexts]="availableContexts" (addSegment)="addSegment($event, i)"
				(segmentDeletion)="deleteSegment(s)">
			</code-engine>
		</ng-container>
		<ng-container *ngIf="s.type === 'text'">
			<text-engine [segment]="s" (addSegment)="addSegment($event, i)" (segmentDeletion)="deleteSegment(s)">
			</text-engine>
		</ng-container>
	</ng-container>

	<div class="row no-gutters" *ngIf="availableContexts.length > 0">
		<div class="col"></div>
		<div class="col addProcessor mr-1" (click)="addProcessor()">
			<span>Add processor</span>
		</div>
		<div class="col addProcessor ml-1" (click)="addText()">
			<span>Add text</span>
		</div>
		<div class="col"></div>
	</div>
</ng-container>

<ng-template #configurationNotebook>
	<h2 class="mb-4 text-center">{{notebook.name}}</h2>
	<div id="code_{{notebook.path}}" class="code-editor"></div>
</ng-template>