@import "../code-engine/code-engine.component.scss";

.addProcessor{
    position: relative;

    height: 30px;
    width: 150px;
    line-height: 30px;

    background: #375d79;
    color: white;

    border-radius: 0.3em;

    text-align: center;

    user-select: none;
    cursor: pointer;
}

.options{
    .row{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .col:first-child{
        font-weight: bold;
    }

    .col:last-child{
        font-weight: normal;        
    }
}

.options-divider{
    background-color: #2e4f66;
    width: 90%;
}