<div (contextmenu)="openContextualMenu($event)">
	<ng-container *ngIf="editing">
		<div class="row no-gutters">
			<div class="col">
				<textarea id="editionArea" class="w-100" [(ngModel)]="segment.code"
					(blur)="disableEditMode()"> </textarea>
			</div>
		</div>
	</ng-container>

	<ng-container *ngIf="!editing">
		<div class="row no-gutters" (click)="enableEditMode()">
			<div class="col">
				<ng-katex-paragraph [paragraph]="segment.code"></ng-katex-paragraph>
			</div>
		</div>
	</ng-container>
</div>