<div [ngStyle]="ctx.contextMenuPos" class="context-menu" [ngClass]="{top: isTopMenu}" *ngIf="ctx.menuOpen(menu.name)">
	<ng-container *ngFor="let option of menu.options">
		<div class="context-menu-option" *ngIf="!option.separator" (click)="doAction(option)" [ngClass]="{disabled: isInvalid(option)}">
			<span class="text" *ngIf="option.text">{{option.text}}</span>
			<span class="annotation" *ngIf="option.annotation">{{option.annotation}}</span>
		</div>
		<div class="context-menu-separator" *ngIf="option.separator">
			<hr>
		</div>
	</ng-container>
</div>