<div class="row no-gutters mb-2">
	<div class="col">
		<select (change)="changeContext($event)">
			<option *ngFor="let c of availableContexts" value="{{c}}" [selected]="c === segment.contextName">{{c}}
			</option>
		</select>
	</div>
	<div class="col">
		<div class="buttons" (click)="deleteSegment()">
			<span>&#xE8BB;</span>
		</div>
	</div>
</div>

<div id="code_{{segment.id}}" class="code-editor" (contextmenu)="openContextMenu($event)"></div>
<div class="console-output row no-gutters">
	<div class="row no-gutters mb-3">
		<div class="col">
			<div class="icons btn-group-sm" role="group">
				<button type="button" class="btn btn-secondary" [ngClass]="{'active': type == 'AUTO'}"
					(click)="type = 'AUTO'">Auto</button>
				<button type="button" class="btn btn-secondary" [ngClass]="{'active': type == 'RAW'}"
					(click)="type = 'RAW'">Raw</button>
				<button type="button" class="btn btn-secondary" [ngClass]="{'active': type == 'LATEX'}"
					(click)="type = 'LATEX'">Latex</button>
			</div>
		</div>
	</div>

	<div class="row no-gutters">
		<!--INTERNAL TYPES-->
		<div class="col" *ngIf="type == 'LOADING'">
			<div class="loading-spinner"></div>
		</div>
		<div class="col" *ngIf="type == 'ERROR'">
			<pre class="eval-error">{{consoleOutput}}</pre>
		</div>

		<!--SCIMITAR MARKUP-->
		<ng-container *ngIf="type != 'LOADING' && type != 'ERROR'">
			<div class="col">
				<ng-container *ngIf="type === 'AUTO'; else notAuto">
					<ng-container *ngFor="let s of parsedConsoleOutput.segments">
						<div class="row no-gutters">
							<div class="col">
								<console-output [type]="s.type" [content]="s.content"></console-output>
							</div>
						</div>
					</ng-container>
				</ng-container>

				<ng-template #notAuto>
					<console-output [type]="type" [content]="consoleOutput"></console-output>
				</ng-template>
			</div>
		</ng-container>
	</div>
</div>