.code-editor{
    position: relative;

    min-height: 200px;
    margin-bottom: 0.5em;
}

.console-output{
    position: relative;

    min-height: 50px;
    
    margin-bottom: 1em;
    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    border-style: none none none solid;
    border-width: 3px;
    border-color: darkgray;

    display: inline-block;
}

.v-center{
    position: absolute;

    margin: 0;

    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.math-container{
    color: black;
}

.icons{
    width: fit-content;
    opacity: 0.3;
}

.icons:hover{
    opacity: 1 !important;
}

.eval-result{
    color: black;
}

.eval-error{
    color: red;
}

.loading-spinner, .loading-spinner:after {
    border-radius: 50%;
    width: 2em;
    height: 2em;
}

.loading-spinner {
    position: relative;

    border-top: 0.25em solid #808080;
    border-left: 0.25em solid rgba(128,128,128, 0.2);
    border-right: 0.25em solid rgba(128,128,128, 0.2);
    border-bottom: 0.25em solid rgba(128,128,128, 0.2);

    animation: spinner 0.85s infinite ease-in-out;
}

@keyframes spinner {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.buttons{
    font-size: 12px;
    font-family: segoe;
    color: red;

    user-select: none;
    cursor: pointer;

    span{
        position: absolute;
        right: 0.5em;
        top: 50%;
        transform: translateY(-50%);
        line-height: 1.5;
    }
}