<ng-container *ngIf="type === 'LATEX'">
	<ng-katex [equation]="content"></ng-katex>
</ng-container>
<ng-container *ngIf="type === 'RAW'">
	<pre class="eval-result">{{content}}</pre>
</ng-container>
<ng-container *ngIf="type === 'IMG'">
	<img [src]="content" class="out-image">
</ng-container>