.app-body{
	display: grid;
	width: 100%;

	overflow: hidden;
}

.titlebar {
	position: relative;

	display: grid;
	height: 32px;
	background: #254053;
	color: white;

	grid-template-columns: 35% 30% 35%;

	-webkit-app-region: drag;
	user-select: none;

	.menu{
		display: grid;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		font-family: "Segoe UI", sans-serif;
		font-size: 0.9em;

		-webkit-app-region: no-drag;

		.menu-option{
			grid-row: 1 / span 1;
			
			display: flex;
			justify-content: center;
			align-items: center;

			width: 100%;
			height: 100%;
			padding-left: 0.5em;
			padding-right: 0.5em;
		}

		.menu-option:hover:not(.icon), .menu-option.active{
			background: rgba(255,255,255,0.2);
		}
	}

	.title {
		grid-column: 2;
		display: grid;
		align-items: center;
		justify-items: center;
		font-family: "Segoe UI", sans-serif;
		font-size: 12px;
		margin-left: 8px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		span{
			line-height: 1.5;
		}
	}

	.buttons{
		display: grid;
		grid-template-columns: repeat(3, 46px);
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		font-family: segoe;
		font-size: 10px;

		-webkit-app-region: no-drag;

		.button {
			grid-row: 1 / span 1;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;

			user-select: none;
			cursor: default;
			color: #BBB;
		}

		.button:hover {
			background: rgba(255,255,255,0.2);
			color: #FFF;
		}

		.button.third:hover {
			background: #E81123 !important;
		}
		
		.first{grid-column: 1;}
		.second{grid-column: 2;}
		.third{grid-column: 3;}
	}
}

.context-menu{
	display: grid;
	position: absolute;

	width: 250px;
	background: #375d79;

	top: 0;
	left: 0;
	grid-template-columns: 250px;

	font-family: "Segoe UI", sans-serif;
	font-size: 0.9em;

	z-index: 100;

	-webkit-app-region: no-drag;

	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);

	&.top{
		top: 32px;
	}

	.context-menu-separator{
		display: grid;
		
		width: 100%;
		height: 5px;

		align-items: center;

		hr{
			margin: 0;
			margin-left: auto;
			margin-right: auto;

			width: 90%;

			background: rgba(255,255,255,0.75);
		}
	}		

	.context-menu-option{		
		display: grid;
		align-items: center;

		grid-column: 1 / span 1;
		grid-template-columns: 10% 60% 20% 10%;

		width: 100%;
		height: 32px;

		.text{
			justify-self: left;
			grid-column: 2 / span 1;
		}

		.annotation{
			justify-self: right;
			grid-column: 3 / span 1;
		}
	}

	.context-menu-option:hover:not(.disabled), .context-menu-option.active{
		background: rgba(255,255,255,0.2);
	}

	.context-menu-option.disabled{
		color: darkgray;
		pointer-events: none;
	}
}

::ng-deep .as-split-gutter-icon {
	background-image: none !important;
	background: #2e4f66 !important;
}

::ng-deep .as-split-gutter {
	background: #2e4f66 !important;
}