<header class="titlebar">
	<div class="menu">
		<div class="menu-option icon">
			<img src="assets/icons/scimitar.ico" width="16" height="16">
		</div>
		
		<ng-container *ngFor="let option of topMenuOptions">
			<div class="menu-option" id="ctx_opt_{{option.menu.name}}" [ngClass]="{active: ctx.menuOpen(option.menu.name)}" 
				(mouseover)="ctx.moveTopMenu(option.menu.name)" (click)="ctx.openTopMenu(option.menu.name)">
				<span class="menu-option-title">{{option.text}}</span>
			</div>

			<context-menu [menu]="option.menu"></context-menu>
		</ng-container>

		<context-menu [menu]="ctx.contextMenu"></context-menu>
	</div>

	<div class="title">
		<span>{{tabs.currentNotebook? tabs.currentNotebook.name + ' - ' : ''}}Scimitar</span>
	</div>

	<div class="buttons" (click)="ctx.closeContextMenu()">
		<div class="button first" (click)="minimizeWindow()">
			<span>&#xE921;</span>
		</div>
		<div class="button second" (click)="maximizeWindow()">
			<span *ngIf="isMaximized()">&#xE923;</span>
			<span *ngIf="!isMaximized()">&#xE922;</span>
		</div>
		<div class="button third" (click)="closeWindow()">
			<span>&#xE8BB;</span>
		</div>
	</div>
</header>

<div class="app-body" (click)="ctx.closeContextMenu()">
	<as-split unit="percent" [gutterSize]="3" [direction]="'horizontal'">
		<as-split-area size="15" minSize="10" maxSize="30">
			<sidebar></sidebar>
		</as-split-area>
		<as-split-area size="85">
			<router-outlet></router-outlet>
		</as-split-area>
	</as-split>
</div>