<div class="sidebar-body">
	<h3 class="centered">Menu</h3>

	<div class="menu">
		<div class="menu-section">
			<div class="section-title">
				<span class="icon" *ngIf="openNotebooksSection"
					(click)="openNotebooksSection = !openNotebooksSection">&#xE011;</span>
				<span class="icon" *ngIf="!openNotebooksSection"
					(click)="openNotebooksSection = !openNotebooksSection">&#xE010;</span>
				<span>Open Notebooks ({{tabs.notebooks? tabs.notebooks.length : 0}})</span>
			</div>

			<div *ngIf="openNotebooksSection">
				<div class="menu-option" *ngFor="let n of tabs.notebooks" (click)="tabs.currentNotebook = n"
					[ngClass]="{active: n === tabs.currentNotebook}">
					<span *ngIf="n.config" class="segoe">&#xE713;</span>
					<span *ngIf="n.path && !n.config" class="segoe">&#xE74E;</span>
					{{n.name && n.name.length? n.name : '<' + 'blank' + '>'}}
				</div>

				<ng-container *ngIf="tabs.notebooks.length">
					<hr class="menu-separator">
					<div class="menu-option" (click)="tabs.closeAll()">Close all</div>
				</ng-container>
			</div>
		</div>
	</div>
</div>