.sidebar-body{
    position: relative;

    height: 100%;
    width: 100%;
    padding-top: 0.5em;

    background: #2e4f66;
    color: white;

    .centered{
        text-align: center;   
    }
}

.menu-section{
    .section-title{
        .icon{
            font-family: segoe;
            margin-right: 0.5em;
            margin-left: 0.5em;
            font-size: 12px;

            cursor: pointer;
        }

        background: #253f52;

        overflow-x: hidden;
        text-overflow: ellipsis;
    }
}

.menu{
    color: white;

    margin-top: 1em;

    font-family: "Segoe UI", sans-serif;
    font-size: 0.9em;

    user-select: none;

    white-space: nowrap;
    overflow-x: hidden;

    .menu-option{
        width: 100%;
        padding-left: 1em;

        cursor: pointer;

        overflow-x: hidden;
        text-overflow: ellipsis;
    }

    .menu-option.active{
        background: rgb(1, 122, 154);
    }

    .menu-option:hover:not(.active){
        background: rgba(255,255,255,0.2);
    }

    .menu-separator{
        width: calc(100% - 1em);

        --margin: 0.1em;

        margin-top: calc(1px + var(--margin));
        margin-bottom: var(--margin);
        margin-left: auto;
        margin-right: auto;

        background: rgba(255,255,255,0.75);
    }
}