/* You can add global styles to this file, and also import other style files */
@import '~katex/dist/katex.css';
@import 'app/app.component.scss';

body{
	overflow: hidden !important;
}

context-menu{
    position: absolute;
}

@font-face{
    font-family: segoe;
    src: url(assets/fonts/segoe.ttf);
}

.segoe{
    font-family: segoe;
}