.processor-body{
    height: calc(100vh - 2*32px);
    padding: 1em;
    overflow: scroll;

    &::-webkit-scrollbar{
        display: none;
    }

    .active{
        display: unset;
    }

    .hidden{
        display: none;
    }
}

.tabsbar {
	position: relative;

    display: flex;
    width: 100%;
	height: 32px;
	background: #375d79;
    color: white;
    
    overflow-x: scroll;

    .row{
        flex-wrap: nowrap !important;
        user-select: none;
    }

    &::-webkit-scrollbar{
        display: none;
    }

    .tab{
        white-space: nowrap;

        height: 32px;
        width: 200px;
        flex-basis: 200px;
        flex-grow: 0;

        margin-right: 1px;

        :last-child{
            margin-right: 0;
        }

        text-align: center;
        display: flex;
        align-items: center;
        font-family: "Segoe UI", sans-serif;
        font-size: 12px;
        overflow-x: hidden;

        float: none;

        cursor: pointer;

        span{
            width: 70%;

            position: absolute;

            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 1.5;

            left: 50%;
            transform: translateX(-50%);
        }

        .buttons{
            display: none;

            position: absolute;
            grid-template-columns: repeat(1, 30px);

            top: 0;
            right: 0;

            height: 100%;
            font-family: segoe;
            font-size: 10px;

            span{
                grid-row: 1 / span 1;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
            }
        }

        background: #5188af;
    }

    .tab:hover, .tab.active{
        .buttons{
            display: grid !important;
        }
    }

    .tab.active{
        background: #017a9a !important;
    }
}

.centered{
    text-align: center;
}