<header class="tabsbar" (contextmenu)="openHeaderContextMenu($event)">
	<div class="row no-gutters">
		<div class="col tab" *ngFor="let notebook of tabs.notebooks" [ngClass]="{active: tabs.currentNotebook === notebook}"
			(contextmenu)="openContextMenu($event, notebook)" (click)="tabs.currentNotebook = notebook">
			<span>{{notebook.name && notebook.name.length? notebook.name : '<' + 'blank' + '>'}}</span>

			<div class="buttons">
				<span (click)="tabs.close(notebook)">&#xE8BB;</span>
			</div>
		</div>
	</div>
</header>

<div class="processor-body">
	<div *ngFor="let notebook of tabs.notebooks" [ngClass]="{active: tabs.currentNotebook === notebook, hidden: tabs.currentNotebook !== notebook}">
		<notebook [notebook]="notebook"></notebook>
	</div>

	<div class="centered" *ngIf="!tabs.currentNotebook">
		<h3>You have no open notebooks</h3>
		<p>Open or create a new one by using the options in the sidebar</p>
	</div>
</div>